<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943321856120-aihk3ep4b25n0q7glusu90o8mt9934n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943321856120-aihk3ep4b25n0q7glusu90o8mt9934n2</string>
	<key>API_KEY</key>
	<string>AIzaSyC7pxa5oexvvEwtzlz_8cofjHvZ5c6EEYM</string>
	<key>GCM_SENDER_ID</key>
	<string>943321856120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarano.CalculatorProject</string>
	<key>PROJECT_ID</key>
	<string>calculator-demo-6dae1</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-demo-6dae1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943321856120:ios:f069b0d44630786f6e958d</string>
	<key>DATABASE_URL</key>
	<string>https://calculator-demo-6dae1.firebaseio.com</string>
</dict>
</plist>